@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Job Parser</h1>

    <div class="row">

        <div class="col-md-2" style="margin: 10px">
            <form method="post" action="~/Home/Parse">
                <input type="hidden" name="url" value="http://pandorajob.ru"/>
                <input type="submit" class="btn btn-primary btn-default" value="Parse from pandorajob.ru"/>
            </form>
        </div>

        <div class="col-md-2"  style="margin: 10px">
            <form method="post" action="~/Home/Parse">
                <input type="hidden" name="url" value="http://sogaz.ru"/>
                <input type="submit" class="btn btn-primary btn-default" value="Parse from sogaz.ru"/>
            </form>
        </div>

    </div>
</div>

<table class="table">
    <tr>
        <th>
            Vacancy
        </th>
        <th>
            Description
        </th>
        <th>
            Country
        </th>

        <th>
            City
        </th>

        <th>
            Salary
        </th>
        <th></th>
    </tr>

    @foreach (var item in ViewBag.Vacancies)
    {
        <tr>
            <td>
                @item.VacancyName
            </td>
            <td>
                @item.Description
            </td>
            <td>
                @item.Country
            </td>

            <td>
                @item.City
            </td>


            <td>
                @item.Salary
            </td>
        </tr>
    }

</table>

